#cantoslist {
clear: both;
padding-bottom: 30px;
}
#homeBack{
margin:0;
border-radius:0.5em;
}
#menu{
position: absolute;
width: 100%;
}
#menucol{
margin: auto;
display: table;
}
#hrred{
background-color: red;
border-color: red;
height: 0.15em;
}
.ui-li-desc {
margin: 0px;
}
.ui-li, .ui-li.ui-field-contain {
border-top-width: 0px;
}
.ui-btn-icon-right .ui-icon {
display: none;
}
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
min-height: 15px;
padding: 5px;	
}

.ui-page .ui-page-theme-a .ui-page-header-fixed .ui-page-active{
padding-top: 0px !important;
}
.ui-filterable{
width: 93%;
position: fixed;
z-index: 1000;
}
.ui-listview {
margin-top: 2.5em !important;
}
.barra {
height: 37px;
font-family: arial;
}
.barra  .ui-title{
margin-top: 17px;
}
.barra .icon_img {
height: 18px;
}

#voltar{      
padding: 6px 12px !important;
height: 16px;
}
.bttn_menu{      
border-radius: 0.5em;
margin-top: 2px;
}
.bttn_texto{      
padding: 6px 10px !important;
height: 16px;
}
.zoom{    
padding: 3px 12px !important;
}
#music_controls{
position: absolute;
width: 100%;
}
#transDialog{
display: none;
position: absolute;
width: 100%;
}
#transInner {
margin: auto;
display: table;
}
.column {
background-color: #dedede;
float: left;
}
.column .bttn_texto{
margin: 5px;
}

.html_canto {
font-size: 9px;
overflow: scroll;
padding-left: 10px;
}
.linha  {
border-color:white  !important;
font-family: arial;
padding: 4px 3px !important;
font-size: 13px !important;
}
.linha .categoria_img{
padding: 0px 4px 1px 20px;
height: 10px;
}
.linha .conteudo{
display: none;
}
#progressbar {
border: 0px none;
height: 3px;
position: relative;
top: -10px;
}
/* latin */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: local('Cousine'), url(cousine.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
